@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;

  .row {
    display: flex;
    flex-direction: row;
  }

  .key, .wide-key, .spacebar-key {
    cursor: pointer;
    height: 40px;
    padding: 2px;
    margin: 4px;
    border: 1px solid gray;
    transition: 200ms all ease-in-out;

    &:hover {
      background-color: rgb(104, 131, 136);
    }
  }

  .key {
    width: 40px;
  }

  .wide-key {
    width: 100px;
  }

  .spacebar-key {
    width: 250px;
  }

  .arrows {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    row-gap: 4px;

    .arrow-row {
      display: flex;
      justify-content: center;
      gap: 4px;
    }

    .arrow {
      cursor: pointer;
      width: 50px;
      aspect-ratio: 1;
      border: 1px solid gray;
      transition: 200ms all ease-in-out;

      &:hover {
        background-color: rgb(104, 131, 136);
      }
    }
  }
}